* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #28282b;
}

.nav-links {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin: 0;
    padding: 0px 50px;
}

.nav-links ul {
    margin: 0;
    padding: 0;
}

.nav-links li a{
    color: rgb(235, 235, 235);
    text-decoration: none;

    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #fa8603;
}

button {
    padding: 8px 20px;
    background-color: rgb(235, 235, 235);
    border-radius: 30px !important;
    border: none;
    outline: none;

    transition: all 0.25s ease 0s;
}

button:hover {
    background-color: #fa8603;
    color: rgb(245, 245, 245);
}